.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  background: #F5F7FB;
  overflow: hidden;
  color: #293264;
  font-size: 16px;
}

.mainButton {
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: #F5F7FB;
  font-size: 16px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

#yellowBlob {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}

#blueBlob {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}