.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #F5F7FB;
}

#yellowBlob{
  position: absolute;
  top: 0;
  right: 0;
}

#blueBlob{
  position: absolute;
  bottom: 0;
  left: 0;
}

.home{
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #293264;


  h1{
    letter-spacing: 1.2px;
    margin-bottom: 0;
  }

  p{
    margin-top: 7px;
    margin-bottom: 30px;
  }

  button{
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    color: #F5F7FB;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}