.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  background: #F5F7FB;
  overflow: hidden;
  color: #293264;
  font-size: 16px;

}

#yellowBlob{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}

#blueBlob{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.home{
  letter-spacing: 0.4px;
  text-align: center;


  h1{
    letter-spacing: 1.2px;
    margin-bottom: 0;
  }

  p{
    margin-top: 7px;
    margin-bottom: 30px;
  }

  button{
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    color: #F5F7FB;
    font-size: 16px;
    letter-spacing: 0.4px;
    cursor: pointer;
  }
}

.main{
  z-index: 1;
  margin: 40px 75px;

  >div{
    border-bottom: 0.794239px solid #DBDEF0;
    padding-bottom: 20px;
  }

  button{
    height: 30px;
    min-width: 80px;
    border: 0.8px solid #4D5B9E;
    background: #F5F7FB;
    box-sizing: border-box;
    border-radius: 10px;

    font-size: 12px;
    color: #293264;

    padding: 0 15px;
    margin-right: 20px;

    cursor: pointer;

    &.selected{
      background: #D6DBF5;
    }

    &.correct{
      background: #94D7A2;
      border: none;
    }

    &.incorrect{
      background: #F8BCBC;
      border: none;
    }

    &.disabled{
      opacity: 0.5;
    }

  }

}